/* ==============
    Base Styles
   ============== */
* {
    box-sizing: border-box;
}

.site-logo {
    width: 200px;
    height: 150px;
}

/*.main-header {
    padding-top: 2em;
}*/

h1 {
    text-align: center;
}

header {
    background: #55bcce;   
}

.main-header,
.nav {
    display: flex;
    flex-direction: column;
}

/*.nav {
    margin-top: 1em;
}*/

.nav a {
    display: block;
    color: #797e83;
    font-size: 1.125em;
    font-weight: 300;
    text-align: center;
    padding: .4em;
    border-bottom: 1px solid #ebecec;
}

.nav a:hover {
    color: #0b0b0b;
    border-bottom-color: red;
}

ul,
li {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
li {
    padding: 5px;
}

a:link {
    text-decoration: none;
}

.gall {
    width: 200px;
    height: 200px;
    padding: 10px 10px;
    border: 2px dotted #dd4124;
    margin: 5px;
}

.head-pic {
    width: 100vw;
    height: 50vh;
}

footer {
    text-align: center;
    background-color: #55bcce;
}

/*sticky footer */
.container,
.container-1 {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    /*flex-wrap: wrap;
    flex-basis: 50%;*/
    
}
.container-2 {
    display:flex;
    flex-direction: row;
    min-height: 100vh;
    flex-wrap: wrap;
    justify-content: center;
}

/* ==============
    Order Form
   ==============*/ 
form {
    display: inline-block;
    background-color: #dd4124;
    text-align: left;

}

fieldset {
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}

.number {
    font-weight: bolder;
}

button {
    background-color: #55bcce;
    font-size: 1.2em;
}

/* ==============
    Media Queries
   ============== */   

   @media (min-width: 768px) {
        .col {
          padding: 10px; 
       
       }
        .container-1 {
            flex-direction: row;
        }

        .head-pic {
            width: 100vw;
            height: 50vh;
        }
        .nav {
            flex-direction: row;
            justify-content: space-around;
        }

        .nav a {
            border-bottom-color: transparent;
        }
        /*h1 {
            margin-left: 15px;
            margin-top: -5px;
            margin-bottom: 5px;
        }*/
    }

   @media (min-width: 1025px) {

        .main-header,
        .nav {
            display: flex;
            flex-direction: row;
            justify-content: space-between;  
            margin-top: 5px;
        }
        .head-pic {
            width: 100vw;
            height: 50vh;
        }
        .nav {
           margin-top: 150px;
           margin-right: 20px;

       }
    
       .site-logo {
           margin-left: 10px;
           margin-top: 5px;
           margin-bottom: 5px;
       }

       .third {
           order: -1;
       }
   }