/* ==============
    Base Styles
   ============== */
* {
    box-sizing: border-box;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 1.5;
    margin: 0;
}

p {
    font-size: 1.05em;
    margin-bottom: 1.8em;
} 

/*==Header Styles===*/
.site-logo {
    width: 200px;
    height: 150px;
}

h1 {
    text-align: center;
}

header {
    background: #55bcce;   
}
    /*hamburger menu and navigation*/
i {
    margin-left: 10px;
    margin-top: 10px;
    padding: 5px;
    border: 1px solid gray;
    color: gray;
    border-radius: 10%;
    position: absolute;   
}

.main-header,
.navigation {
    display: flex;
    flex-direction: column;
}

.navigation a {
    display: block;
    color: #797e83;
    font-size: 1.25em;
    font-weight: 300;
    text-align: center;
    padding: .4em;
    border-bottom: 1px solid #ebecec; 
}

.navigation a:hover {
    color: #0b0b0b;
    border-bottom-color: red;
}

.navigation,
.centered {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

ul,
li {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

li {
    padding: 5px;
    display: none;
}

a:link {
    text-decoration: none;
}

    /*head picture*/
.head-pic {
    opacity: 80%;
    max-width: 100%;
}
    /*text over image*/
.main-pic {
    position: relative;
    text-align: center;
    color: gray;
}
.centered {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.5em;
    padding-top: 30px;
}
/*Content*/
.first {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; 
}

.col h2 {
    text-align: center;
}
.home-pic,
.home-pic2 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    height: 250px;
    border: 2px dotted red;
    padding: 5px;
}

.container {
    width: 75%;
    align-self: center;
}
/*gallery*/
.container-2 {
    display:flex;
    flex-direction: column;
    /*min-height: 100vh;*/
    /*flex-wrap: wrap;*/
}
.gall {
    width: 75%;
    height: 5%;
    padding: 10px 10px;
    border: 2px dotted #dd4124;
    margin: 5px;
    display: block;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}
.col {
    color: gray;
    padding: 1.5em;
}
/*==Footer Styles==*/
.main-footer{
    text-align: center;
    background-color: #55bcce;
    padding: 10px;
}

/*sticky footer */
.container,
.container-1 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    
}

/*==============
   Forms
  ==============*/

#contact {
    text-align:center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    *text-decoration: underline;
}
.cont-img {
    width: 75%;
    height: 50%;
    padding-top: 50px;
    padding-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}
 
button {
    background-color: #55bcce;
    font-size: 1.2em;
    cursor: pointer;
}

#add {
    height: 150px;
}

.well {
    background-color: rgba(255, 0, 0, 0.603);
}

/* ==============
    Media Queries
   ============== */   

   @media (min-width: 765px) {
       /*Heading*/
       i {
           visibility: hidden;
       }
       li {
        padding: 5px;
        display: block;
    }

    .head-pic {
        width: 100%;
        height: 75vh;
    }
    .navigation {
        flex-direction: row;
        justify-content: space-around;
    }
    .navigation a {
        border-bottom-color: transparent;
    }

    /*Content*/
       .col {
          padding-right: 1em;
          padding-left: 1em; 
          flex: 1 50%;
       }
       .gall {
        width: 300px;
        height: 320px;
        padding: 20px 20px;
        border: 2px dotted #dd4124;
        margin: 20px;
        display: inline-block;
    }
    .container-2 {
        display:flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    /*Contact Form*/
        .meme {
            width: 50%;   
        }

       .contact {
           display: flex;
           flex-direction: row;
           flex-wrap: wrap;
       }
       
        .cont-img {
            width: 50%;
            padding-left: 30px;
            height: 50%;
            padding-top: 150px;
            padding-right: 10px;
        }
       /*Order Form*/
       .emem {
           width: 75%;
           align-self: center;
       }
       #order {
           text-align: center;
       }
        .container-1 {
            flex-direction: row;
            flex-wrap: wrap;
        }
        .sec {
            order: -2;
        }
    }

   @media (min-width: 1025px) {

        .main-header,
        .navigation {
            flex-direction: row;
            justify-content: space-between;  
        }
       
        .navigation {
          margin-top: 50px;
          margin-right: 20px;
       }
    
       .site-logo {
           margin-left: 10px;
           margin-top: 5px;
           width: 150px;
           height: 100px;
       }
       .home-pic,
       .home-pic2 {
            width: 400px;
            height: 350px;
            border: 2px dotted red;
            padding: 5px;
       }

       .col {
           flex-basis: 0;
       }

       .first,
       .sec {
           flex-grow: 2;
       }

       .third {
           order: -1;
       }

   }
