/* ==============
    Base Styles
   ============== */
* {
    box-sizing: border-box;
}

h1 {
    text-align: center;
}

.logo {
    width: 200px;
    height: 150px;
    margin-top: 20px;
}

header {
    background: #55bcce;   
}

.nav {
    display: flex;
    flex-direction: column;
    text-align: center;
    border: 2px red solid;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
a:link {
    text-decoration: none;
}

li {
    padding: 15px;
}
.gall {
    width: 200px;
    height: 200px;
    padding: 10px 10px;
    border: 2px dotted #dd4124;
    margin: 5px;
}

.head-pic {
    width: 100%;
    height: 200px;
}
footer {
    text-align: center;
    background-color: #55bcce;
}

/*sticky footer */
.container,
.container-1 {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    /*flex-wrap: wrap;
    flex-basis: 50%;*/
    
}
.container-2 {
    display:flex;
    flex-direction: row;
    min-height: 100vh;
    flex-wrap: wrap;
    justify-content: center;
}

/* ==============
    Order Form
   ==============*/ 
form {
    display: inline-block;
    background-color: #dd4124;
    text-align: left;

}

fieldset {
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}

.number {
    font-weight: bolder;
}

button {
    background-color: #55bcce;
    font-size: 1.2em;
}

/* ==============
    Media Queries
   ============== */   

   @media (min-width: 768px) {
        .col {
          padding: 10px; 
       
       }
        .container-1 {
            flex-direction: row;
        }

        .logo {
            width: 150px;
            height: 100px;
        }

        .nav {
            flex-direction: row;
            justify-content: space-around;
        }
        /*h1 {
            margin-left: 15px;
            margin-top: -5px;
            margin-bottom: 5px;
        }*/
    }

   @media (min-width: 1025px) {

        .main-header,
        .nav {
            display: flex;
            flex-direction: row;
            justify-content: space-between;  
            margin-top: 10px;
        }

        .nav {
           margin-top: 100px;
           margin-right: 20px;

       }
        
       h1 {
           margin-left: 10px;
           margin-top: 5px;
           margin-bottom: 5px;
       }

       .third {
           order: -1;
       }
   }